layout {

    focus-ring {
        active-color   "#e48467"
        inactive-color "#291914"
        urgent-color   "#8f351a"
    }

    border {
        active-color   "#e48467"
        inactive-color "#291914"
        urgent-color   "#8f351a"
    }

    shadow {
        color "#29191470"
    }

    tab-indicator {
        active-color   "#e48467"
        inactive-color "#8d2a0c"
        urgent-color   "#8f351a"
    }

    insert-hint {
        color "#e4846780"
    }
}

recent-windows {
    highlight {
        active-color "#e48467"
        urgent-color "#8f351a"
    }
}
