layout {

    focus-ring {
        active-color   "#ebb580"
        inactive-color "#291e14"
        urgent-color   "#d5a076"
    }

    border {
        active-color   "#ebb580"
        inactive-color "#291e14"
        urgent-color   "#d5a076"
    }

    shadow {
        color "#291e1470"
    }

    tab-indicator {
        active-color   "#ebb580"
        inactive-color "#ad5b0b"
        urgent-color   "#d5a076"
    }

    insert-hint {
        color "#ebb58080"
    }
}

recent-windows {
    highlight {
        active-color "#ebb580"
        urgent-color "#d5a076"
    }
}
