layout {

    focus-ring {
        active-color   "#676fe4"
        inactive-color "#0c0e31"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#676fe4"
        inactive-color "#0c0e31"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#0c0e3170"
    }

    tab-indicator {
        active-color   "#676fe4"
        inactive-color "#0c148d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#676fe480"
    }
}

recent-windows {
    highlight {
        active-color "#676fe4"
        urgent-color "#fd4663"
    }
}
